* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursor {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  font-size: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}

#image {
  height: 500px;
  width: 800px;
  background-color: red;
  position: relative;
}

#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
