* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* #box {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: crimson;
  transform: translate(50%, 50%);
} */

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7vw 5vw;
  width: 100%;
  /* background-color: red; */
}

#nav h2 {
    font-size: 25px;
    font-family: cursive;
}

#part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

#part2 h2{
    font-size: 15px;
    font-weight: 500;
}

#nav button{
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(10, 28, 193);
}