* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
}

html,
body {
  height: 100%;
  width: 100%;
}

#string {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

/* svg{
    background-color: red;
} */
