* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: rgb(23, 0, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(226, 255, 233);
}

#page2 h1 {
  font-size: 30vw;
  text-transform: uppercase;
  /* background-color: red; */
}

#page2 h2 {
  font-size: 70px;
  background-color: yellow;
  padding: 10px;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(7, 0, 50);
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 300px;
  width: 300px;
  background-color: #670062;
}
